#article {
	background-image: url(../../../public/img/Resources/article_bg.svg);
	background-repeat: no-repeat;
	background-size: cover;
}

.container {
	padding-top: 120px;
	padding-bottom: 30px;
}

.single_wrapper {
	background: #ffffff;
	box-shadow: 0px 20px 30px rgba(0, 98, 175, 0.05);
	border-radius: 8px;
}

.card_wrapper span {
	display: block !important;
}

.contents {
	text-align: left;
	padding: 30px 30px 0 30px;
}

.date {
	font-weight: 400;
	font-size: 20px;
	line-height: 20px;
	color: var(--color-title);
	margin-bottom: 10px;
}

.single_titme {
	font-weight: 600;
	font-size: 24px;
	line-height: 34px;
	color: var(--color-primary);
}

.read_more {
	font-weight: 600;
	font-size: 20px;
	line-height: 20px;
	text-align: right;
	color: var(--color-primary);
	background: none;
}

.card_footer {
	padding: 0 30px 30px 30px;
}

.row {
	padding-top: 40px;
}

.short_description {
	margin-bottom: 20px;
}

@media (max-width: 991px) {
	.container {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.row {
		padding-top: 20px;
	}
}
.dog_1 {
	margin-top: -100px;
}

@media (max-width: 1500px) {
	.dog_1 {
		margin-top: 0;
		width: 160px;
		height: unset;
	}
}
@media (max-width: 767px) {
	.dog_1 {
		width: 160px;
		height: unset;
	}
}
