.brcm {
	background-image: url(../../../public/img/Services/service_brud_bg.svg);
	padding: 53px 0;
}

.brc_title {
	font-weight: 600;
	font-size: 44px;
	line-height: 54px;
	text-align: center;
	color: #ffffff;
	margin-bottom: 10px;
}

.brcm ul li:first-child a {
	font-weight: 300;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	color: #ffffff;
}

.brcm ul li:first-child a:hover {
	font-weight: 500;
}

.brcm ul li:last-child {
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	color: #ffffff;
}

.brcm ul span {
	font-weight: 300;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	color: #ffffff;
	margin: 0 3px;
}
/* 
#Header {
	background-image: url(../../../public/img/Services/header_bg.svg);
	background-repeat: no-repeat;
	background-size: cover;
} */

.container {
	padding-top: 120px;
	padding-bottom: 101px;
}

/* #Header {
	background: url(../../../public/img/About-us/bg1.svg) no-repeat top center /
		cover;
	background-repeat: no-repeat;
}

@media (max-width: 1420px) {
	#Header {
		background-position: left top;
	}
}
@media (max-width: 1420px) {
	#Header {
		background: url(../../../public/img/About-us/bg1.svg) no-repeat top left /
			220%;
	}
}
@media (max-width: 720px) {
	#Header {
		background-position: top left;
		background-size: 200%;
		background-repeat: no-repeat;
	}
} */
/* @media (min-width: 1200px) and (max-width: 1440px) {
	#Header {
		background-position: top left;
		background-size: 150%;
		background-repeat: no-repeat;
	}
} */

@media (max-width: 991px) {
	.row {
		flex-direction: column-reverse;
	}

	.container {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.underTitle {
		text-align: center;
	}
}

@media (max-width: 767px) {
	.brcm {
		padding: 20px 0;
	}

	.brc_title {
		font-size: 34px;
		line-height: 25px;
		margin-bottom: 3px;
	}

	.brcm ul li:first-child a {
		font-size: 14px;
	}

	.brcm ul li:last-child {
		font-size: 14px;
	}

	.brcm ul span {
		font-weight: 300;
		font-size: 15px;
		line-height: 30px;
		text-align: center;
		color: #ffffff;
		margin: 0 3px;
	}
}

.dog_1 {
	position: absolute;
	right: 0;
	bottom: 0;
}
.leaf_1 {
	position: absolute;
	left: 0;
	top: 0;
}
.paws {
	position: absolute;
	left: calc(50% + 220px);
	top: 0;
}
#Header {
	position: relative;
	overflow: hidden;
}
@media (max-width: 1880px) {
	.leaf_1 {
		/* width: 200px; */
	}
	#Header {
		/* padding-top: 60px; */
	}
}
@media (max-width: 1199px) {
	.leaf_1 {
		/* width: 200px; */
	}
	.dog_1 {
		width: 220px;
		height: unset;
	}
	#Header {
		padding-bottom: 140px;
		padding-top: 60px;
	}
}
@media (max-width: 991px) {
	.paws {
		left: calc(50% + 20px);
		top: -160px;
	}
}
@media (max-width: 640px) {
	.leaf_1 {
		width: 190px;
		top: -10px;
	}
	#Header {
		padding-top: 90px;
	}
	.paws {
		max-width: 400px;
		top: -240px;
	}
}
