#Testimonials {
    background-image: url(../../../public/img/Home/testimonials-bg.svg);
    
}

.container {
    padding-top: 120px;
    padding-bottom: 120px;
    max-width: 1560px;
}

.comment {
    font-weight: 300;
    font-size: 22px;
    line-height: 32px;
    color: #121212;
    margin-bottom: 20px;
}

.profile {
    margin-right: 14px;
}

.profile_name {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #89A829;
}

.profile_link {
    color: #121212;
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
}

.SingleSlide {
    text-align: center;
    background: #FAFAFA;
    box-shadow: -2px 0px 19px rgba(0, 0, 0, 0.16); 
    border-radius: 8px;
    padding: 30px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: start;
    align-items: start;
    margin: 15px;
}
.sliderContent{
    position: relative;
    margin-top: 26px;
}
.testimonialsBtn {}
.testimonialsBtn .prev,
.testimonialsBtn .next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 11;
    background: none;
    outline: none;
    color: #0062AF;
    font-size: 25px;
    
}
.testimonialsBtn .prev{
    left: -50px;
}
.testimonialsBtn .next{
    right: -50px;
}

@media (max-width: 575.98px){
    .comment { 
        font-size: 20px; 
    }
    .testimonialsBtn {
        text-align: center;
    }
    .testimonialsBtn .prev,
    .testimonialsBtn .next{
        position: unset; 
        margin: 10px;
        display: none;
    }
    .SingleSlide{
        margin: 15px 10px;
        padding: 20px;
    }
}