.ul {
	gap: 38px;
	margin-right: 38px;
}

.container {
	margin: 14px auto;
}

.ul li a {
	font-weight: 400;
	font-size: 24px;
	line-height: 24px;
	color: var(--text-primary);
}

.buttons {
	gap: 20.91px;
}

.buttons button:first-child {
	padding: 16px 20px;
}

.buttons button:last-child {
	padding: 16px 48.5px;
}

.buttons button {
	font-weight: 700;
	font-size: 18px;
	line-height: 18px;
	background: linear-gradient(90deg, #103559 0%, #103559 100%);
	border-radius: 8px;
	color: var(--color-white);
}

.logo {
	cursor: pointer;
}

@media (max-width: 1199px) {
	.ul {
		gap: 20px;
		margin-right: 20px;
	}

	.ul li a {
		font-size: 18px;
	}

	.buttons {
		gap: 15px;
	}

	.buttons button:first-child {
		padding: 13px 15px;
	}

	.buttons button:last-child {
		padding: 13px 30px;
	}

	.logo {
		width: 71px;
	}

	#navbar {
		padding: 1px 0;
	}
}

.toogleBtn button {
	background: none;
}
@media (max-width: 991px) {
	.logo {
		width: 140px;
	}
	.logo * {
		display: block;
	}
	.logo img {
		width: 170px;
	}
}
