.brcm {
	background-image: url(../../../public/img/About-us/banner-bg.svg);
	padding: 53px 0;
}

.brc_title {
	font-weight: 600;
	font-size: 44px;
	line-height: 54px;
	text-align: center;
	color: #ffffff;
	margin-bottom: 10px;
}

.brcm ul li:first-child a {
	font-weight: 300;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	color: #ffffff;
}

.brcm ul li:first-child a:hover {
	font-weight: 500;
}

.brcm ul li:last-child {
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	color: #ffffff;
}

.brcm ul span {
	font-weight: 300;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	color: #ffffff;
	margin: 0 3px;
}

.container {
	padding-top: 120px;
	padding-bottom: 45px;
}

.under_title {
	margin: 10px 0;
}

.main {
	background: url(../../../public/img/About-us/bg1.svg) no-repeat top center /
		cover;
	background-repeat: no-repeat;
}

@media (max-width: 1420px) {
	.main {
		background-position: left top;
	}
}
@media (max-width: 1420px) {
	.main {
		background: url(../../../public/img/About-us/bg1.svg) no-repeat top left /
			170%;
	}
}
@media (max-width: 720px) {
	.main {
		background-position: top left;
		background-size: 100%;
		background-repeat: no-repeat;
	}
}
@media (max-width: 1299px) {
	.title {
		font-size: 30px;
	}
}

@media (max-width: 1199px) {
	.row {
		flex-direction: column-reverse;
	}

	.jhsg {
		text-align: center;
	}
}

@media (max-width: 767px) {
	.container {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.brcm {
		padding: 20px 0;
	}

	.brc_title {
		font-size: 34px;
		line-height: 25px;
		margin-bottom: 3px;
	}

	.brcm ul li:first-child a {
		font-size: 14px;
	}

	.brcm ul li:last-child {
		font-size: 14px;
	}

	.brcm ul span {
		font-weight: 300;
		font-size: 15px;
		line-height: 30px;
		text-align: center;
		color: #ffffff;
		margin: 0 3px;
	}
}
