#core_value {
	/* background-image: url(../../../public/img/About-us/bg-4.svg); */
	padding: 120px 0;
	background-repeat: no-repeat;
}

@media (min-width: 1550px) {
	.container {
		max-width: 1440px;
	}

	#core_value {
		background-size: cover;
	}
}

.title_wrapper {
	margin-bottom: 10px;
}

.content {
	width: 806px;
	text-align: center;
	margin-bottom: 40px;
}

.main_single_wrapper {
	background: #fafafa;
	box-shadow: 0px 4px 70px rgba(0, 0, 0, 0.16);
	border-radius: 8px;
	padding: 30px;
}

.row {
	gap: 30px;
}

.box_title {
	text-align: center;
	font-weight: 600;
	font-size: 22px;
	line-height: 22px;
	color: #103559;
	margin-top: 10px;
}

.devider {
	margin: 10px 0;
}

.card_content {
	font-weight: 400;
	font-size: 22px;
	line-height: 32px;
	text-align: center;
	color: #5f5f5f;
}

.bg_will_be :hover {
	background: #eec9a5;
}

.bg_will_be :hover * {
	color: #000000;
}

@media (max-width: 1199px) {
	#core_value {
		padding: 80px 0;
	}

	.main_single_wrapper {
		padding: 15px;
	}

	.card_content {
		font-size: 18px;
		line-height: unset;
	}

	#core_value {
		background-size: 120%;
	}
}

@media (max-width: 676px) {
	#core_value {
		padding: 50px 0;
	}

	.main_single_wrapper {
		background: #fafafa;
		box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.16);
		border-radius: 8px;
		padding: 15px;
	}
}
.dog_1 {
	position: absolute;
	right: 0;
	bottom: 0;
}
.leaf_1 {
	position: absolute;
	left: 0;
	top: 0;
}
.paws {
	position: absolute;
	left: calc(50% + 220px);
	top: 0;
}
#core_value {
	position: relative;
	overflow: hidden;
}
@media (max-width: 1880px) {
	.dog_1 {
		width: 200px;
		height: unset;
	}
	#core_value {
		padding-top: 60px;
		padding-bottom: 190px;
	}
}
@media (max-width: 1199px) {
	.leaf_1 {
		/* width: 200px; */
	}
	.dog_1 {
		width: 220px;
		height: unset;
	}
	#core_value {
		padding-bottom: 140px;
		padding-top: 120px;
		padding-left: 20px;
		padding-right: 20px;
	}
}
@media (max-width: 991px) {
	.paws {
		left: calc(50% + 20px);
		top: -160px;
		opacity: 0.4;
	}
	.leaf_1 {
		width: 190px;
		top: -10px;
	}
}
@media (max-width: 640px) {
	.leaf_1 {
		width: 170px;
		top: -10px;
	}
	.dog_1 {
		width: 160px;
	}
	#core_value {
		padding-top: 130px;
	}
	.paws {
		max-width: 400px;
		top: -240px;
	}
}
