@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none !important;
}


:root {
  --color-white: #FFFFFF;
  --bg-secondary: #EEF6FF;
  --color-primary: #103559;
  --color-secondary: #EEC9A5;
  ---color-pear: #8CAB30;
  --text-primary: #5F5F5F;
  --color-title: #295889;
  --color-black: #000000
}

/* Common CSS */
p {
  color: var(--text-primary);
  font-size: 24px;
  line-height: 34px;
}

button {
  outline: none;
  border: none;
}

ul li {
  list-style-type: none;
}

.cmn-btn {
  font-size: 24px;
  font-weight: 700;
  line-height: 18px;
  background-color: var(---color-pear);
  border-radius: 8px;
  color: var(--color-white);
  transition: all ease .5s;
}

.cmn-btn:hover {
  background: linear-gradient(90deg, #449ADE 0%, #0062AF 100%);
  border-radius: 8px;
}

.active a {
  color: var(--color-title) !important;
}


.title {
  color: var(--color-title);
  font-weight: 700;
  font-size: 54px;
  line-height: 54px;
}



.slick-slider {
  margin: 0 -15px;
}

.slick-slide {
  margin: 30px 12px;
  max-width: 215px;
}

@media (max-width:991px) {
  .cmn-btn {
    font-size: 20px;
    line-height: 18px;
  }

  .slick-slide {
    margin: 30px 10px;
    max-width: 147px;
  }
}

@media (min-width:1500px) {
  .container {
    max-width: 1440px !important;
  }
}

@media (max-width: 991px) {
  .title {
    font-weight: 800;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
  }
}

@media (max-width:767px) {
  p {
    font-size: 22px;
    line-height: 30px;
  }
}